.background {
    background: hsl(240, 10%, 16%);
    border-radius: 25% 7% 25% 25% / 0% 25% 0% 0%;
    ;
}

@media only screen and (max-width: 375px) {
    .background {
            border-radius: 25% 30% 25% 25% / 0% 10% 0% 0%;
    }
}