.background {
    background-image: url('../../images/bg-pattern-circles.svg');
    background-repeat: no-repeat;
    background-position: -215px -510px;
}

.wrapper {
    background-image: linear-gradient(266deg, rgba(63, 65, 100, 1) 45%, rgba(44, 45, 63, 1) 100%);
    border-radius: 25% 8% 25% 8% / 0% 25% 0% 25%;
}

@media only screen and (max-width: 375px) {
    .wrapper {
        background-image: linear-gradient(266deg, rgba(63, 65, 100, 1) 45%, rgba(44, 45, 63, 1) 100%);
        border-radius: 25% 25% 25% 25% / 0% 15% 0% 15%;
    }

    .background {
        background-image: url('../../images/bg-pattern-circles.svg');
        background-repeat: no-repeat;
        background-position: -110px -170px;
        background-size: 560px;
    }
}